{% extends 'main.html' %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/hello_world">Hello World</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1> {{hello_world}} </h1>
</div>
{% endblock %}