{% extends 'main.html' %}
{% block navbar %}
<ul class="nav navbar-nav">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/hello_world">Hello World</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1> Greetings </h1>
  <h2> This is a Flask API Website </h2>
</div>
{% endblock %}