{% extends 'main.html' %}
{% block header %}
    <a href='/'>Go to home page</a>
    {% if session.token %}
        <a href="/logout">logout</a>
    {% else %}
        <a href="/login">login</a>
    {% endif %}
{% endblock %}
{% block content %}
    <form method="POST">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </form>
{% endblock %}